{
     admin :2019 {
        origins {$DOMAIN}
    }
}

# 使用环境变量指定域名，如果没有设置该变量，默认使用 localhost
{$DOMAIN:localhost} {

    handle_path /api/* {
        reverse_proxy 127.0.0.1:2019
    }

    # 其他所有路径走静态文件服务
    handle {
        root * /app/manager/html
        try_files {path} /index.html
        file_server
        basic_auth {
            admin $2a$14$ifZXIptsPE/y3MAJNlCdwua98qXlAP4TfnOgV00aBD.uFU/s4zqxi
        }
    }
}